<h1>Profil de l'identifiant : <%= @user.id %></h1>

<p>Mon prénom : <%= @user.first_name %></p>
<p>Mon nom : <%= @user.last_name %></p>
<p>Ma ville : <%= @user.city.name %></p>
<p>Mon âge : <%= @user.age %></p>
<p>Mon adresse mail : <%= @user.email %></p>
<p>Ma date d'inscription : <%= @user.created_at %></p>