<h1>Lâche ton doss'</h1>

<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%end%>
      
<%= form_tag url_for(action: 'create'), method: "post" do %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= label_tag 'Quel est le titre?' %>
  <%= text_field_tag 'title'%>
  <br>

  <%= label_tag 'Quel est le contenu?' %>
  <%= text_field_tag 'content'%>
  <br>
    
  <br>
  <%= submit_tag "Créer un potin" %>

<ul>
  <% @tags.each do |tag| %>
      <li>
        <%= check_box_tag 'array_tag[]', tag.id -%>
        <%= h tag.title -%>
      </li>
  <% end %>
</ul>

<% end %>
