<div class="p-4 mw-100 p-md-5 mb-4 rounded d-flex bg-light container justify-content-center text-body-emphasis">
    <div class="col-lg-6 text-align  px-0">
      <h1 class="display-4 text-primary fst-italic bg-image">Welcome to the Gossip Project !</h1>
      <p class="lead my-3">Le lieu de tout les potins qui concernent tes camarades de THP.</p>
      <p class="lead text-primary mb-0"><a href="https://www.thehackingproject.org/?locale=fr" target="blank" class=" fw-bold">The Hacking Proejct</a></p>
    </div>
  </div>

  <h3 class="text-primary px-5 d-flex justify-content-center fst-italic bg-image">This is a Gossip from&nbsp <%= link_to @gossip.user.first_name, profile_path(@gossip.user.id), class: "author" %></h3>


<div class="card w-75 box_gossip">
  <div class="card-body">
    <h5 class="card-title"> <%= @gossip.title %></h5>
    <p class="card-text"><%= @gossip.content %></p>
    <a href="#" class="btn btn-primary">Comment</a>
    <p class="mt-3">Created the <%= @gossip.created_at %></p>
  </div>
</div>


<% @comment.each do |comment| %>
    <div class="card w-75 box_comment">
    <div class="card-body">
        <h5 class="card-title"> <%= comment.user.first_name %></h5>
        <p class="card-text"><%= comment.content %></p>
        <p class="mt-3 card-text">Created the <%= comment.created_at %></p>
        </div>
    </div>
<% end %>